$blue:                    #377DFF;
$light-blue:              #E5F1FF;
$green:                   #2DCA8C;
$light-green:             #EAFAF3;
$yellow:                  #FFBE3D;
$light-yellow:            #FFF2D8;
$red:                     #FF715B;
$light-red:               #FFE3DE;
$black:                   #243443;
$middle-black:            #58616A;
$light-black:             #AAB0B7;
$middle-gray:             #F0F0F0;
$light-gray:              #F7F7F9;


$base-font-family:        'Inter', sans-serif;
